@import url('/root.css');
@import url('/styles.css');
@import url('/Pages/Product-Listing-Page/styles.css');

.main-wishlist .card-basic{
    height: 21rem;
}
.component-heading{
    text-align: center;
}
.main-wishlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22rem;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 2rem;
}
.main-wishlist .btn-standard-container{

    flex-direction: column;
}
.main-wishlist .btn-rect{
    width: 15rem;
    height: 2.1rem;
}