@import url('/root.css');



.main-sec-product{
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-areas: "side main";
}
.sidebar{
    font-family: 'Comfortaa';
    padding: 1rem 1.5rem;
    background-color: var(--background-color);
    grid-area: side;
    position: relative;
    font-size: large;
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

.sidebar-input{
    display: flex;
    flex-direction: row;
    padding: 5px;
    cursor: pointer;
}
.sidebar input{
    padding: 9px;
    height: 1rem;
  width: 1rem;
}

.vertical-line{
    height: 20rem;
    width: 1px;
}
.main-product-list{
    grid-area: main;
    margin: 1rem 1.5rem; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22rem;
    gap: 1rem;
}
.card-basic{
    width: 18rem;
    height: 20rem;
    margin: 0;
}
.basic-img{
    height: 9.5rem;
    width: 14rem;
    padding-left: 1.75rem;
}
.card-content-txt{
    margin: 5px;
}
.card-basic .upper-badge{
    margin: 0 5px;
    padding: 0;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.btn-standard-container{
    justify-content: space-between;
}
.main-product-list .btn-rect{
    height: 2.5rem;
    margin: 3px 1rem;
    padding: 0.75rem 0.75rem;
}
.card-basic .btn-icon{
    color: var(--secondary-color);
}@import url('/root.css');



.main-sec-product{
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-areas: "side main";
}
.sidebar{
    font-family: 'Comfortaa';
    padding: 1rem 1.5rem;
    background-color: var(--background-color);
    grid-area: side;
    position: relative;
    font-size: large;
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

.sidebar-input{
    display: flex;
    flex-direction: row;
    padding: 5px;
    cursor: pointer;
}
.sidebar input{
    padding: 9px;
    height: 1rem;
  width: 1rem;
}

.vertical-line{
    height: 20rem;
    width: 1px;
}
.main-product-list{
    grid-area: main;
    margin: 1rem 1.5rem; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22rem;
    gap: 1rem;
}
.card-basic{
    width: 18rem;
    height: 20rem;
    margin: 0;
}
.basic-img{
    height: 9.5rem;
    width: 14rem;
    padding-left: 1.75rem;
}
.card-content-txt{
    margin: 5px;
}
.card-basic .upper-badge{
    margin: 0 5px;
    padding: 0;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.btn-standard-container{
    justify-content: space-between;
}
.main-product-list .btn-rect{
    height: 2.5rem;
    margin: 3px 1rem;
    padding: 0.75rem 0.75rem;
}
.card-basic .btn-icon{
    color: var(--secondary-color);
}